* {
  /*cor do vermelho e9202e*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f2f2f2;
}



.controle-itens2 {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2;
  color: #e9202e;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 30px;
}

.iten-menu {
  color: #e9202e;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-right: 10%;
  font-size: 20px;
}

.itens-head2 {
  display: flex;
  margin-top: 30px;
  color: white;
}

.item-carrinho {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item-carrinho i{
 font-size: 25px;
 color: black;
}

.itens_bag {
  width: 20px;
  height: 20px;
  align-items: center;
  text-align: center;
  background-color: #e9202e;
  border-radius: 50%;
  font-size: 15px;
  color: white;
  font-weight: bold;
}
.mob{
  display: none;
  background-color: white;
  border-top: 1px solid gray;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}
@media screen and (max-width: 767px) {
  .mob {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: gray;
    font-size: 12px;
  }

  .footer-link i {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .controle-itens2 {
    display: none;
    align-items: center;
  }
  .controle-img-topo {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: 10px;
    width: 90%;
    text-align: center;
    justify-content: left;
    margin-left: 5%;
    margin-right: 5%;
    overflow-x: auto;
  }
  .controle-img-topo::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

}
 /*oculta a localizacao para computador*/
@media screen and (min-width: 767px) {
  .localizacao{
    display: none;
  }
}
/*exibe  a localizacao para celular*/
.localizacao{
  color: gray;
  font-size: 15px ;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin:15px;
}

.itens a {
  margin: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  border: 1px solid gray;
  border-radius: 7px;
  font-size: 15px;
  font-weight: bold;
  padding: 7px;
  text-decoration: none;
}

.controle-img-topo {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: 10px;
  width: 80%;
  text-align: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  overflow-x: auto;
}
/*banners para celular*/
@media only screen and (max-width: 767px) {
  .controle-img-topo {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: 10px;
    width: 90%;
    text-align: center;
    justify-content: left;
    margin-left: 5%;
    margin-right: 5%;
    overflow-x: auto;
  }
  .controle-img-topo::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

.controle-img-topo img {
  height: 200px;
}

.slogan {
  text-align: center;
  color: grey;
  margin-top: 15px;
  font-size: 17px;
  font-weight: bolder;
}

.slogan2 {
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.iten-search {
  margin-top: 10px;
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;
}

.input-search {
  min-width: 230px;
  height: 30px;
  background-color: lightgrey;
  border: none;
  border-radius: 2px;
}

.btn-search {
  height: 30px;
  width: 70px;
  border: none;
  font-weight: bold;
  background-color: #f7941d;
  color: white;
}

.title-categoria{
  text-align: center;
  margin: 10px;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  font-size: 18px;
}

.categorias {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.itens-categorias {
  align-items: center;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  width: 110px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
}

.itens-categorias img {
  width: 110px;
  height: 110px;
  border-radius: 5px;
}
.itens-categorias a {
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  color: black;
}

/*categorias para celular*/
@media only screen and (max-width: 767px) {
  .categorias {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    text-align: center;
    border-radius: 5px;
    overflow-x: auto;
    
  }
  .categorias::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  .itens-categorias {
    font-size: 15px;
    margin-top: 20px;
    width: 110px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
  }

  .itens-categorias img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
  }
}


.rodape {
  background-color: white;
  padding: 30px 0;
  font-size: 16px;
  color: grey;
  margin-bottom: 10px;
}

.rodape a{
  color: grey;
  text-decoration: none;
  font-family:helvetica,sans-serif;
  margin-left: 15%;
}

.rodape .container {
  max-width: 1200px;
  margin: 0 auto;
}

.rodape .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rodape .col-md-6 {
  width: 30%;
  margin-bottom: 30px;
}

.rodape h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color:black;
  font-family: helvetica,sans-serif;
  margin-left: 15%;
}

.rodape ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rodape ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.rodape ul li i {
  margin-right: 10px;
  font-size: 20px;
}

.icon-sociais{
  display: flex;
  margin-left: 15%;
}


@media screen and (max-width: 768px) {
  .rodape .col-md-6 {
    width: 100%;
  }
  .rodape {
    background-color: white;
    padding: 30px 0;
    font-size: 16px;
    color: grey;
    margin-bottom: 90px;
  }
  }

  .container_loja{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 70px;
}

.container_loja{
  gap: 20px;
  width: 60%;
  margin-left: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.loja{
  justify-content: space-between;
  display: flex;
  gap: 15px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  width: 500px;
  height: 140px;
}

.loja img{
  width:80px;
  height: 80px;
}

.btn-adicionar{
  background-color: green;
  width: 54px;
  color: white;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  height: 54px;
  padding: 10px;
  font-size: 24px;
  text-decoration: none;
  border-radius: 5px;
  


}
@media (max-width: 767px) {
  .container_loja{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  
  .loja{
    justify-content: space-between;
    display: flex;
    gap: 15px;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
  }
  

  .loja img{
    margin-right: 15px;
  }

  .loja .descricao{
    overflow: hidden;
    text-overflow: ellipsis;
    font-family:helvetica,sans-serif

  }

  .loja .botao{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  .loja .conteudo {
    display: flex;
    align-items: left;
    justify-content: space-between;
    text-align: left;
    margin-top: 10px;
  }

  .loja .conteudo > * {
    flex: 1;
  }

  .loja .conteudo img {
    margin-left:0;
  }

}






